div.varpivo-bottom-toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

div.varpivo-centered-page {
    position: fixed;
    width: 100vw;
    top: 70px;
    bottom: 70px;
    left: 0;
}

.varpivo-scale-add {
    color: limegreen;
}

.varpivo-scale-remove {
    color: red;
}
